Basic automation/Lankara-n8n-workflow.json
{
  "name": "My first local workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lankara Designs Order Details",
        "formDescription": "This form is to fill the order details of the customer and send them a detailed message regarding their order",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Customer Name",
              "placeholder": "name",
              "requiredField": true
            },
            {
              "fieldLabel": "Order Amount",
              "fieldType": "number",
              "placeholder": "amount"
            },
            {
              "fieldLabel": "Delivery Date",
              "fieldType": "date",
              "requiredField": true
            }
          ]
        },
        "options": {
          "useWorkflowTimezone": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -368,
        16
      ],
      "id": "d0824d74-1ab4-4383-b51e-6d8863bcc003",
      "name": "Lankara Order form",
      "webhookId": "5edf3c04-c9c5-41d1-bfbc-44e0750350c3",
      "notesInFlow": false
    },
    {
      "parameters": {
        "sendTo": "jithinmkp94@gmail.com",
        "subject": "Details",
        "emailType": "text",
        "message": "=Name : {{ $json['Customer Name'] }}\nOrder Amount : {{ $json['Order Amount'] }}\nDelivery Date : {{ $json['Delivery Date'] }}\nBilled at : {{ $json.submittedAt }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -144,
        -80
      ],
      "id": "8b577c68-c86b-4d8d-8c21-72cd36bf5744",
      "name": "Gmail message",
      "webhookId": "99d36a28-27c3-4e26-816e-15b1fc49c920",
      "credentials": {
        "gmailOAuth2": {
          "id": "wlJH1Vdy7wxzrizr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19giM-cOwoop51m9wJ4ZmLJYliVQ6ao-tbDOpxBHw0Pg",
          "mode": "list",
          "cachedResultName": "n8n workflow test table",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19giM-cOwoop51m9wJ4ZmLJYliVQ6ao-tbDOpxBHw0Pg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Order sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19giM-cOwoop51m9wJ4ZmLJYliVQ6ao-tbDOpxBHw0Pg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Amount",
              "displayName": "Order Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery Dat",
              "displayName": "Delivery Dat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery Date",
              "displayName": "Delivery Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -144,
        112
      ],
      "id": "c712cb10-f7f6-4358-a841-c35cd0f9d216",
      "name": "Add to sheet",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u3Lhj43asygIS3Bb",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Lankara Order form": {
      "main": [
        [
          {
            "node": "Gmail message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add to sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "75c3bc6d-bd12-48d0-a349-1f64388fae6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d65873b8b32a194db1759ec4d94841cb65c74902bba257ce3943281f22c5ed5a"
  },
  "id": "Vlo9w1M86VTnNH0x",
  "tags": []
}